example2-data/factory1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://nppc.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="factory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="road" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="from" use="optional"/>
                <xs:attribute type="xs:string" name="to" use="optional"/>
                <xs:attribute type="xs:byte" name="reverse" use="optional"/>
                <xs:attribute type="xs:byte" name="capacity" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="workcenter" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="operation">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="ref" use="optional"/>
                      <xs:attribute type="xs:byte" name="capacity" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="location" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="user">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="md5"/>
                <xs:attribute type="xs:string" name="roles"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="img"/>
      <xs:attribute type="xs:string" name="map"/>
    </xs:complexType>
  </xs:element>
</xs:schema>